.app__container {
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #000;
}

h1 {
  margin-left: 40px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  border: 1px solid silver;
  padding: 15px;
  border-radius: 5px;
}

.pagination__ul {
  display: flex;
}

.pagination__li {
  margin-right: 5px;
  cursor: pointer;
}

.pagination__li a {
  text-decoration: none;
}
